<div class="row">
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Über diese Seite</span>
				<p>Diese Seite entstand im Rahmen des naturwissenschaftlichen Unterrichtes am Hans-Erlwein-Gymnasium Dresden.</p>
				<br>
				<p>Damit hier alles funktioniert, wie es soll, und ich trotzdem rechtzeitig mit der Arbeit fertig werde, habe ich einige Bibliotheken verwendet. Dazu zählen:</p>
				<p>
					<ul>
						<li><a href="https://angularjs.org/">AngularJS</a>
						</li>
						<li><a href="https://jquery.com/">jQuery</a>
						</li>
						<li><a href="http://materializecss.com/">Materialize</a>
						</li>
					</ul>
				</p>
				<p>Selbstverständlich kann diese Seite gerne als Inspiration für ähnliche solcher Kleinst-"Projekte" verwendet werden. Zu diesem Zwecke (und natürlich zur Bewertung) habe ich den Source-Code auf meinem GitHub-Repo veröffentlicht, wo er für jedermann zugänglich ist.</p>
			</div>
			<div class="card-action">
				<a href="https://github.com/DjangoOne/bionik-fuer-anfaenger">Zum GitHub-Repo</a>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="http://www.biokon.de/uploads/tx_templavoila/TUB-HandHand.jpg" class="materialboxed">
				<span class="card-title">Tauchen Sie ein in die spannende Welt der Bionik.</span>
			</div>
			<div class="card-content">
				<p>Das Fachgebiet der Bionik erarbeitet technische Systeme nach dem Vorbild biologischer Phänomene.</p>
			</div>
			<div class="card-action">
				<a href="#/quickstart">Ein schneller Einstieg</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Anwendungsbeispiele</span>
				<p>Bionische Anwendungsbeispiele gibt es viele - hier eine Auswahl von alltäglichen Gegenständen.</p>
			</div>
			<div class="card-action">
				<a href="#/anwendung">Zum Artikel</a>
				<div class="chip">
					<img src="https://image.freepik.com/freie-ikonen/ausrufezeichen-in-einem-kreis_318-72829.jpg" /> Fortgeschritten 1
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Herangehensweisen</span>
				<p>Wie werden bionische Technologien entwickelt? Eine Zusammenfassung der zwei wichtigsten Vorgehensweisen.</p>
			</div>
			<div class="card-action">
				<a href="#/herangehensweise">Zum Artikel</a>
				<div class="chip">
					<img src="https://image.freepik.com/freie-ikonen/ausrufezeichen-in-einem-kreis_318-72829.jpg" /> Fortgeschritten 2
				</div>
			</div>
		</div>
	</div>
</div>
