<div class="row">
	<div class="col s12 m3">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Definition Bionik</span>
				<blockquote>Der Begriff Bionik setzt sich zusammen aus Biologie und Technik. Er beschreibt das kreative Umsetzen von Anregungen aus der Biologie in die Technik. Dazu arbeiten Biologen eng mit Ingenieuren, Architekten, Physikern, Chemikern und Materialforschern zusammen.</blockquote>
				<p>- <a href="http://www.biokon.de/bionik/was-ist-bionik/">www.biokon.de</a>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card-image">
				<img src="http://www.sonnewindwaerme.de/sites/default/files/field/image/wind_website_award.jpg">
			</div>
			<div class="card-content">
				<span class="card-title black-text">Interessante Links</span>
				<ul>
					<li><a href="http://www.biokon.de/bionik/was-ist-bionik/">BIOKON (www.biokon.de)</a>
					</li>
					<li><a href="https://de.wikipedia.org/wiki/Bionik">Wikipedia-Artiekl zu Bionik</a>
					</li>
					<li><a href="http://www.bionik-online.de/">Bionik-Online (www.bionik-online.de)</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Otto_is_going_to_fly.jpg">
			</div>
			<div class="card-content">
				<span class="card-title black-text">Geschichte der Bionik</span>
				<p>
					Niemand weiß so genau, bis wohin die Wurzeln der Bionik reichen.
				</p>
				<p>
					Schließlich überliefert uns schon die griechische Mythologie, wie Daedalos sich das Fliegen bei den Vögeln abgeschaut hat, um dem Tyrannen Minos zu entfliehen.
				</p>
				<p>Aber auch das allseits bekannte "Universal-Genie" Leonardo da Vinci hat nach dem Vorbild der Vögel erste Prototypen für Luftgleiter entwickelt.</p>
				<p>An dieser Stelle könnte man natürlich nun viele historische Beispiele aufzählen - von der Baker-Galeone über den ersten Fallschirm bis zum Klettverschluss.</p>
				<p>Vielleicht interessieren Sie sich ja aber auch für alltägliche Beispiele von Bionik in unserer Zeit oder über die zwei wichtigsten Verfahren, um bionische Technologien zu entwickeln.</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Nächstes Thema: Anwendungsbeispiele</span>
				<p>Nachdem Sie sich jetzt schon mit der Definition und Geschichte von Bionik auseinandergesetzt haben, können Sie beim nächsten Thema mehr über konkrete Anwendungsbeispiele erfahren. Bionische Anwendungsbeispiele gibt es viele - hier eine Auswahl von alltäglichen Gegenständen.</p>
			</div>
			<div class="card-action">
				<a href="#/anwendung">Zum Artikel</a>
				<div class="chip">
					<img src="https://image.freepik.com/freie-ikonen/ausrufezeichen-in-einem-kreis_318-72829.jpg" /> Fortgeschritten 1
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Für Überflieger: Herangehensweisen</span>
				<p>Wie werden bionische Technologien entwickelt? Eine Zusammenfassung der zwei wichtigsten Vorgehensweisen.</p>
			</div>
			<div class="card-action">
				<a href="#/herangehensweise">Zum Artikel</a>
				<div class="chip">
					<img src="https://image.freepik.com/freie-ikonen/ausrufezeichen-in-einem-kreis_318-72829.jpg" /> Fortgeschritten 2
				</div>
			</div>
		</div>
	</div>
</div>
